---
layout: page
title: 후원하기
permalink: /donate/
sitemap: yes
excerpt: Speedetail의 지속가능한 발전을 위한 기부 페이지입니다.
tags: [donate]
---

<h2>SPEEDETAIL을 사용해주셔서 감사드립니다.</h2>

<p>
여러분의 후원은 <a href="www.speedetail.com">SPEEDETAIL</a> 지속 개발에 직접적인 도움이 될 것입니다.<br/>
후원 금액은 소프트웨어 개발, 호스팅 등의 비용에 도움을 줍니다.<br/>
지원에 감사드립니다.
</p>
<p>- SPEEDETAIL TEAM 올림</p>


<h2>응원의 글</h2>
<!-- {% include comments_list.html pagelink='donate' %} -->
<!-- {% include comments_new.html pagelink='donate' %} -->
{% include firebase-comments-list.html %}
{% include firebase-comments-new.html %}
