---
layout: page
title: 다운로드
image: /assets/images/default_cover.jpg
permalink: /download/
sitemap: yes
excerpt: SPEEDETAIL Download
tags: [SPEEDETAIL Download]
---

<link rel="stylesheet" href="../assets/css/download.css">
<div class="row">
	{% for item in site.data.download.defaults %}
	<div class="col-sm-6 col-sm-12">
		<div class="card">
			<div class="card-body">
				<h2 class="card-title" style="margin:10px 0 0 0;">{{ item.name }}</h2>
				<h6 class="card-subtitle mb-2 text-muted" style="margin-top:10px">{{ item.title }}</h6>
				<p class="card-text">{{ item.content }}</p>
				<p class="post-tags">
					{% for tag in item.tags %}
					{% assign tag_url = '/tags/' | append: tag %}
						{% for tm in site.data.opensource.tagmap %}
							{% if tag == tm.tag %}
								{% assign tag_url = tm.url %}
							{% endif %}
					    {% endfor %}
					<a href="{{ tag_url }}" target="_blank" title="opensource" class="tag tag-opensource" style="text-decoration: none">{{ tag }}</a>
					{% endfor %}
				</p><br/>
				<a href="{{ item.download_url }}" target="_blank" class="btn btn-primary" style="color:#fff; text-decoration: none;">> DOWNLOAD</a>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
