@font-face {
    font-family: 'LessSansMinimal';
    font-style: normal;
    font-weight: 400;
    src: local('Less');
}

@font-face {
    font-family: 'LessSansMinimal';
    font-style: normal;
    font-weight: 200;
    src: local('Less-Light');
}

@font-face {
    font-family: 'LessSansMinimal';
    font-style: normal;
    font-weight: 700;
    src: local('Less-Bold');
}
