<!-- Comments Form -->
  <form method="POST" action="{{ site.staticman_url }}">
    <input name="options[redirect]" type="hidden" value="https://speedetail.github.io/donate/">
    <input name="options[slug]" type="hidden" value="{{ include.pagelink }}">
      <label>Name</label><br/>
      <input name="fields[name]" type="text">
      <label>E-mail (optional)</label><br/>
      <input name="fields[email]" type="email">
      <label>Website (optional)</label><br/>
      <input name="fields[url]" type="url">
      <label>Message</label><br/>
      <textarea style="width:100%" name="fields[message]" rows="12"></textarea>
      <small>Comments will appear after moderation.</small>
      <button type="submit">Submit</button>
  </form>
