{%- if page.comments != false -%}
<!-- 카운트 표시용(생략가능) -->
<script id="dsq-count-scr" src="//speedetail.disqus.com/count.js" async></script>
<a href="https://speedetail.github.io{{ page.url | relative_url }}#disqus_thread">Comments</a>
<!-- 메인 댓글용 -->
<div id="disqus_thread"></div>
<script>
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://speedetail.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                            
{%- endif -%}
