<script src="https://www.gstatic.com/firebasejs/3.2.0/firebase.js"></script>
<script src="https://www.gstatic.com/firebasejs/3.1.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/3.1.0/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/3.1.0/firebase-database.js"></script>

<script>
  // Firebase Console에서 Web-Api Key와 Authentication 탭에서 Authorized domains에 speedetail.github.io 추가 필수
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyBJLdt1N7TblyY8q0hAxSsPBqOba300fkA",
    //authDomain: "speedetail-web.firebaseapp.com",
    authDomain : "www.speedetail.com"
    databaseURL: "https://speedetail-web.firebaseio.com",
    storageBucket: "speedetail-web.appspot.com",
  };
  firebase.initializeApp(config);
</script>

<script src="https://www.gstatic.com/firebasejs/ui/live/0.4/firebase-ui-auth.js"></script>

<script type="text/javascript">
  // FirebaseUI config.
  var uiConfig = {
    'signInSuccessUrl': 'https://speedetail.github.io/',
    'signInOptions': [
      // Leave the lines as is for the providers you want to offer your users.
      firebase.auth.GoogleAuthProvider.PROVIDER_ID,
      firebase.auth.FacebookAuthProvider.PROVIDER_ID,
      firebase.auth.EmailAuthProvider.PROVIDER_ID
      //,firebase.auth.TwitterAuthProvider.PROVIDER_ID,
      //firebase.auth.GithubAuthProvider.PROVIDER_ID,
    ],
    // Terms of service url.
    'tosUrl': 'https://speedetail.github.io/privacy-policy',
  };
  // Initialize the FirebaseUI Widget using Firebase.
  var ui = new firebaseui.auth.AuthUI(firebase.auth());
  // The start method will wait until the DOM is loaded.
  ui.start('#firebaseui-auth-container', uiConfig);
</script>

<link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/live/0.4/firebase-ui-auth.css" />
